.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    input {
      background-color: rgb(230, 247, 252);
      font-size: large;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 7px;
      border: none;
    }
    input:nth-child(2) {
      margin-bottom: 40px;
    }
    input:last-child {
      margin: 0px;
      background-color: rgb(255, 134, 112);
      color: white;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  }
  hr {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  span {
    font-size: large;
    font-weight: bold;
  }
  .oAuthLogin {
    display: flex;
    align-items: center;

    img {
      margin: 30px;
    }
  }
}
